name: PR
on:
  workflow_dispatch:
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - name: set PY
        run: echo "PY=$(python -VV | sha256sum | cut -d' ' -f1)" >> $GITHUB_ENV
      - name: "install pre-commit"
        run: pip3 install pre-commit
      - name: "run pre-commit"
        run: pre-commit run --all-files -c .pre-commit-config-ci.yaml
      - name: "install dependencies"
        run: npm install
      - name: "run oxlint"
        run: npx oxlint .
      - name: "run unit tests"
        run: npm run test
